PORT=3333
FRONTEND_URL=http://localhost:5173
NODE_ENV=development

MONGODB_URI=mongodb+srv://USUARIO:SENHA@CLUSTER.mongodb.net/asfaleia_financeiro

JWT_ACCESS_SECRET=
ACCESS_TOKEN_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=7

OWNER_1_NAME=
OWNER_1_EMAIL=
OWNER_1_PASSWORD=

OWNER_2_NAME=
OWNER_2_EMAIL=
OWNER_2_PASSWORD=